---
import { Menu } from "@lucide/astro"
---

<div class="bg-[#F1F3F7]">
  <div class="mx-auto flex max-w-[90%] items-center justify-between px-4 py-5">
    <a href="/">
      <img src="/icon.svg" alt="Logo de la empresa" class="size-8" />
    </a>
    <Menu />
  </div>
</div>
